.submit-contact-us{
    background: linear-gradient(to left, #3800e7, #8a15ff);
    color: #fff;
    transition: all .5s ease !important;
   
}
.submit-contact-us:hover{
    background: linear-gradient(to left, #4919a1, #5f2e90);
}
.bg-profile{
    background: #000;
    color: #fff;
}
.contact-us-heading{
    background: -webkit-linear-gradient(left, #3800e7, #8a15ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
.btn{
    width: 100%;
    border-radius: 0px;
 }

 .form-control{
     border-radius: 0px ;
 }
 input[type="radio"]{
     border-radius: 0px !important;
 }
 input[type="checkbox"]{
     border-radius: 0px !important;
 }
 select{
     border-radius: 0px !important;
 }