<app-navigation-bar isLoggedIn="{{isLoggedin}}" user="{{user}}" greet="{{greet}}"></app-navigation-bar>
<!-- Hero Section -->
<div class="banner">
    <div class="container inner-header flex">
          <div class="main">
            <div class="main__text-wrapper">
              <h1 class="main__title">Banking Solutions</h1>
              <p>Join us now to avail exciting offers and deals on debit and credit credit cards! <br>
                Offer ends in 3hrs::22mins::33secs
            </p>
            </div>
          </div>
    </div>
</div>

<!-- About Bank -->
<section class="about-bank pb-5">
    <div class="container-fluid about-bank-inner p-5" align="center">
        <h1 class="display-4 text-center pt-3 alter-heading ">Bank For A Better Tommorrow</h1>
        <p class="text-muted text-center fw-bold pb-5 alter-paragraph">Committed to helping our customers succeed.</p>

        <div class="row">
            <div class="col-lg-4 py-2">
                <div class="card p-5 shadow-sm bg-tertiary" style="width: 25rem;border-radius: 0">
                    <img src="../../assets/images/savings.png" style="object-fit: contain;" class="card-img-top" height="180" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Savings Account</h5>
                        <a href="/home" class="btn btn-outline-light my-2">Learn More</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 py-2">
                <div class="card p-5 shadow-sm bg-tertiary" style="width: 25rem;border-radius: 0">
                    <img src="../../assets/images/current.png" style="object-fit: contain;" class="card-img-top" height="180" alt="...">
                    <div class="card-body text-center">
                      <h5 class="card-title">Current Account</h5>
                      <a href="/home" class="btn btn-outline-light my-2">Learn More</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 py-2">
                <div class="card p-5 shadow-sm bg-tertiary" style="width: 25rem;border-radius: 0">
                    <img src="../../assets/images/deposit.png" style="object-fit: contain;" class="card-img-top" height="180" alt="...">
                    <div class="card-body text-center">
                      <h5 class="card-title">Fixed Deposit</h5>
                      <a href="/home" class="btn btn-outline-light my-2">Learn More</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>


<!-- Testimonials -->
<section class="reviews">
    <div class="reviews-title">
        <p class="text-light px-4 my-5">A Word From Our Customers</p>
    </div>
    <div>
        <div class="reviews-row row-first">
            <div class="reviews-card">
                <img class="card-img" src="https://temalcode-agency-portfolio.netlify.app/images/review1.png" alt="">

                <div class="card-text">
                    <div class="card-title">
                        <p>“Excellent Team with Creative Mindset”</p>
                    </div>
                    <div class="card-para">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu odio pretium sed amet,
                            pulvinar nunc fringilla lectus.
                        </p>
                        <p>
                            Adipiscing gravida rhoncus nunc, massa id. Et vestibulum scelerisque morbi porttitor
                            sapien. Feugiat faucibus gravida sed adipiscing odio. Condimentum purus varius non </p>
                    </div>

                    <div class="card-author">
                        <p>- CEO of SomeCompany</p>
                    </div>
                </div>
            </div>

            <div class="reviews-card">
                <img class="card-img" src="https://temalcode-agency-portfolio.netlify.app/images/review2.png" alt="">

                <div class="card-text">
                    <div class="card-title">
                        <p>“Excellent Team with Creative Mindset”</p>
                    </div>
                    <div class="card-para">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu odio pretium sed amet,
                            pulvinar nunc fringilla lectus.
                        </p>
                        <p>
                            Adipiscing gravida rhoncus nunc, massa id. Et vestibulum scelerisque morbi porttitor
                            sapien. Feugiat faucibus gravida sed adipiscing odio. Condimentum purus varius non </p>
                    </div>

                    <div class="card-author">
                        <p>- CEO of SomeCompany</p>
                    </div>
                </div>
            </div>

            <div class="reviews-card">
                <img class="card-img" src="https://temalcode-agency-portfolio.netlify.app/images/review3.png" alt="">

                <div class="card-text">
                    <div class="card-title">
                        <p>“Excellent Team with Creative Mindset”</p>
                    </div>
                    <div class="card-para">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu odio pretium sed amet,
                            pulvinar nunc fringilla lectus.
                        </p>
                        <p>
                            Adipiscing gravida rhoncus nunc, massa id. Et vestibulum scelerisque morbi porttitor
                            sapien. Feugiat faucibus gravida sed adipiscing odio. Condimentum purus varius non </p>
                    </div>

                    <div class="card-author">
                        <p>- CEO of SomeCompany</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- New Section -->
<section class="faq-section pt-5">
    <h1 class="display-3 text-center px-4 alter-heading">Frequently Asked Questions</h1>
    <div class="container p-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h6 class="text-uppercase">How long will it take to update a change of address?</h6>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead">It takes 7 Working days for bank to process the request from the time complete request is given</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h6 class="text-uppercase">How to change/update the mailing address?</h6>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="lead">Kindly place a request at the branch for changing the Mobile number</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNew" aria-expanded="false" aria-controls="collapseTwo">
                    <h6 class="text-uppercase">Are there any charges for non maintenance of minimum balance in my account?</h6>
                </button>
              </h2>
              <div id="collapseNew" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="lead">Refer the schedule of charges.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h6 class="text-uppercase">Can I use my existing salary account if I have changed employers?</h6>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="lead">Yes , only if the new employer is registred as Corporate account holder with FINAX BANK.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    <h6 class="text-uppercase">How to place a request for a new cheque book?</h6>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p class="lead">You may place the reqeust through branch ,ATM , IVR,Netbanking, Mobile Banking.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    <h6 class="text-uppercase">How can I place a request for account statement?</h6>
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p class="lead">You may place the request through netbanking or by calling at contact center or by visiting the branch</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    <h6 class="text-uppercase">Is there any charges applicable for personalized debit card?</h6>
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p class="lead">You may place the request through netbanking or by calling at contact center or by visiting the branch</p>
                  </div>
                </div>
              </div> 
          </div>
          
    </div>
</section>
<app-footer></app-footer>